@forward "mixin";
@forward "variables";
@use "mixin" as *;
@use "variables" as *;

body {
   //  background: url(../../../public/bg/noisy.png) fixed no-repeat;
   background-color: rgb(237, 247, 239);
   padding: toRem(15);
   //  font-family: "Mulish";
}

[class*="__container"] {
   max-width: #{$containerWidth}px;
   margin: 0 auto;
   padding-left: toRem(15);
   padding-right: toRem(15);
}

.wrapper {
   display: flex;
   flex-direction: column;
}
.page {
   flex-grow: 1;
}

.button {
   border: toRem(1) solid grey;
   padding: toRem(5) toRem(10);
   border-radius: toRem(4);
   margin-top: toRem(10);
   @media (any-hover: hover) {
      transition: all 0.2s;
      &:hover {
         background-color: rgb(199, 250, 123);
      }
   }
}
h1 {
   font-size: toRem(30);
   margin-bottom: toRem(30);
}
